#greeting{
    font-size: 4em;
    margin: 0;
}
#subgreeting{
    font-size: 1.8em;
    font-weight: 200;
}
#explanation{
    font-size: 1em;
    text-align: center;
    line-height: 2em;
    color: rgb(70, 70, 70);
}
.flexcontainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}
.actiondiv{
    display: flex;
    flex-direction: row;
    margin: auto; 
}

#viewresume{
    text-decoration: none;
    color: black;
    padding: 1em;
}
#viewresume:visited{
    text-decoration: none;
    color: black;
}


.icons{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
    }
    
